
.mainContainer {    
    margin:0 auto; 
    border: 1px solid green;
    background-color: #c4ffb4;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 100vh; 
}

.startup-selectionbox {
/*    background-color: #65dae8; */
/*    height: 60vh; */
    text-align: left;
    padding-bottom: 0px;    
}

.banner {
  margin:0 auto;
  margin-left: 2.6%;
  margin-right: 0.1%;
  max-width: 100%;
  height: auto;
  width: auto\9; /* IE8 */
}

.dir{
  margin:0 auto; 
  max-width: 100%;
  height: auto;
  width: auto\9; 
}
.text{
  text-transform: uppercase;
  font-weight: bold;
}

.tabwidget{
    margin:0 auto; /* this will center the page */
    margin-bottom: 5px;
    margin-top: 5px;
    width: 500px;
    height: 70vh; 
}

.wgrass-toolbar-icons {
     text-indent:-999px;
     background-repeat: no-repeat;
     margin-right: 3px;
}

.wgrass-toolbar-icons:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
