.mainContainer {    
    margin:0 auto; /* this will center the page */
    border: 1px solid green;
    background-color: #c4ffb4;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 100vh; 
}
.displayContainer {    
 
    border: 1px solid gray;
    background-color: #F0F0F0 ;
}

.startup-selectionbox {
/*    background-color: #65dae8; */
/*    height: 60vh; */
    text-align: left;
    padding-bottom: 0px;    
}

.layertree {
/*    background-color: #65dae8; */
/*    height: 60vh; */
    text-align: left;
/*    padding-bottom: 0px;  */  
    width:500px;
    height: 1000px; 
    max-width: 100%;
    height: auto;
    width: auto\9; 
}


.start-button {
  width:200px;
  display:inline-block;
  overflow: auto;
  white-space: nowrap;
  margin:0px auto;
  margin-right: 10px;  
  float: right;
  max-width: 100%;
  height: auto;
  width: auto\9; 
}



.banner {
    margin:0 auto; 
    margin-left: 2.6%;
    margin-right: 0.1%;
/*   padding-left: 3%;
   padding-right: 2%;*/
    max-width: 100%;
  height: auto;
  width: auto\9; /* IE8 */

}
.dir{
  margin:0 auto; 
  max-width: 100%;
  height: auto;
  width: auto\9; 
}
.text{

  text-transform: uppercase;
  font-weight: bold;

}


.mapdisplay{
  background:url(./icons/grass/monitor-create.png);
  text-indent:-999px;
  position: absolute;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.mapdisplay:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.create{
  background:url(./icons/grass/create.png);
  text-indent:-999px;
  position: absolute;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.create:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.open{
  background:url(./icons/grass/open.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.open:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.save{
  background:url(./icons/grass/save.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.save:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.layeropen{
  background:url(./icons/grass/layer-open.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.layeropen:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.addraster{
  background:url(./icons/grass/layer-raster-add.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.addraster:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.addvarraster{
  background:url(./icons/grass/layer-raster-more.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.addvarraster:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.addvector{
  background:url(./icons/grass/layer-vector-add.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.addvector:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.addvarvector{
  background:url(./icons/grass/layer-vector-more.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.addvarvector:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.overlay{
  background:url(./icons/grass/layer-more.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.overlay:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.addgroup{
  background:url(./icons/grass/layer-group-add.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.addgroup:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.removelayer{
  background:url(./icons/grass/layer-remove.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.removelayer:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.edit{
  background:url(./icons/grass/edit.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.edit:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.table{
  background:url(./icons/grass/table.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.table:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.import{
  background:url(./icons/grass/layer-import.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.import:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.calculator{
  background:url(./icons/grass/calculator.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.calculator:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.georectify{
  background:url(./icons/grass/georectify.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.georectify:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.modeler{
  background:url(./icons/grass/modeler-main.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.modeler:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.composer{
  background:url(./icons/grass/print-compose.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.composer:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.scriptload{
  background:url(./icons/grass/script-load.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.scriptload:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.guisettings{
  background:url(./icons/grass/settings.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.guisettings:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.manual{
  background:url(./icons/grass/help.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.manual:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.displaymap{
  background:url(./icons/grass/show.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.displaymap:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.redraw{
  background:url(./icons/grass/layer-redraw.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.redraw:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.erase{
  background:url(./icons/grass/erase.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.erase:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.pointer{
  background:url(./icons/grass/pointer.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.pointer:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.info{
  background:url(./icons/grass/info.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.info:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.pan{
  background:url(./icons/grass/pan.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.pan:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.zoom-in{
  background:url(./icons/grass/zoom-in.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.zoom-in:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.zoom-out{
  background:url(./icons/grass/zoom-out.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.zoom-out:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.zoom-extent{
  background:url(./icons/grass/zoom-extent.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.zoom-extent:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.zoom-last{
  background:url(./icons/grass/zoom-last.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.zoom-last:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.zoom-more{
  background:url(./icons/grass/zoom-more.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.zoom-more:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.analyze{
  background:url(./icons/grass/layer-raster-analyze.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.analyze:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.addelements{
  background:url(./icons/grass/overlay-add.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.addelements:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.mapexport{
  background:url(./icons/grass/map-export.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.mapexport:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.print{
  background:url(./icons/grass/print.png);
  text-indent:-999px;
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.print:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}