
.mainContainer {    
    margin:0 auto; 
    border: 1px solid green;
    background-color: #c4ffb4;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 2px;
    margin-top: 2px;
    height: 99vh; 
}

.grass_data_dir_text {
    text-align: center;
    margin-left: 10%;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid black;
    padding-bottom: 0px;    
}

.wgrass-startup-selectionbox {
    text-align: left;
    min-height: 300px;
    width: 200px; 
    padding-bottom: 0px;
}

.wgrass-startup-banner {
  margin:0 auto;
  margin-left: 2.6%;
  margin-right: 0.1%;
  max-width: 100%;
  height: auto;
  width: auto\9; /* IE8 */
}

.wgrass-data-dir {
  margin:0 auto; 
  max-width: 100%;
  height: auto;
  width: auto\9; 
}
.wgrass-text-label {
  text-transform: uppercase;
  font-weight: bold;
}

.wgrass-start-button {
  width:200px;
  display:inline-block;
  overflow: auto;
  white-space: nowrap;
  margin:0px auto;
  margin-right: 10px;  
  float: right;
  max-width: 100%;
  height: auto;
  width: auto\9; 
}

.wgrass-module-tab {
    margin:0 auto; /* this will center the page */
    margin-bottom: 5px;
    margin-top: 5px;
    width: 500px;
    height: 70vh; 
}

.wgrass-toolbar-icons {
     text-indent:-999px;
     background-repeat: no-repeat;
     margin-right: 3px;
}

.wgrass-toolbar-icons:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.wgrass-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    /*height: 0;*/

}

.wgrass-lpage-button {
    position: relative;
    margin:5px auto;
    float: right;
}


.login_page {
    border: 1px solid black;
    margin-top: 8%;
    margin-bottom: 1ex;
    margin-left: 20%;
    width: 50%;
    min-height: 300px;
}

.login_container {
/*    border: 1px solid black; */
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    width: 90%;
    height: 100%;
}

.href_log_off {
    position: relative;
    margin:5px auto;
    margin-right: 10px;
    float: right;

}

.login_container_elements {
    min-height: 30px;
    text-align: left;
    padding: 0px;
}

.login_container_button {
    min-height: 30px;
    width: 150px;
    float:right;
    text-align: center;
    padding: 3px;
}